
$BG_COLOR: #000000;
$TXT_COLOR: #ffffff;

html {
    height: 100%;
}

body {
    background-color: $BG_COLOR;
    color: $TXT_COLOR;

    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    cursor: url(./assets/cursor.png) 0 0, auto;
}

.video-container {
    display: none;
}

.animated {
    transition: all .4s ease-out;
}

.goaway {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

@keyframes slow-appearing {
    0% { opacity: 0; }
    20% { opacity: 0; }
    100% { opacity: 1; }
}

.slow-appearing {
    animation-duration: 12s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slow-appearing;
}

#animation-container {
    width: 100%;
    height: 100%;


    #fps-info {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        margin-left: 10px;
        color: #888;
    }

    #animation-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        canvas {
            width: 100%;
            height: 100%;
        }
    }
}

#page-preview {
    height: 100%;
    width: 100%;
    text-align: center;
}

#page-preview > p {
    margin: 0;
    padding-top: 40vh;
    top: 45%;
    font-family: 'Kalam', serif;
    font-size: 170%;
}

#page-preview.goaway {
    color: #eeeeee;
}

#page-content {
    display: none;
}

#page-titles {
    z-index: 1000;
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;

    #page-title {
        font-size: 250%;
        font-family: 'Kalam';
    }
    #page-title > h1 {
        color: #bbbbbb;
        font-size: 255%;
        margin-top: 20px;
        margin-bottom: -44px;
        font-family: 'Sacramento', cursive;
    }
    #page-title > p.subtitle {
        margin-top: 0;
        margin-bottom: -44px;
        color: #999999;
        font-size: 80%;
    }
    #page-title > p.text {
        font-size: 70%;
    }
    #page-title a {
        color: #ff5555;
        text-decoration: underline;
    }
}

#section-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;

    select {
        margin: 8px;
        padding: 4px;
        background-color: #111111;
        color: white;
        font-family: 'Kalam';
    }
}

#section-links {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    color: white;
    margin: 0 10px 10px 0;
    width: 60px;

    .separator {
        width: 60%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section-icon-container {

        width: 60px;
        height: 60px;
        position: relative;
        text-align: center;
        margin-top: 10px;

        .section-icon-circle {
            width: 100%;
            height: 100%;
            background-color: #ffffff44;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            transform: scale(0);
            z-index: -2;
        }

        &:hover .section-icon-circle {
            transform: scale(1);
        }

        .section-icon-link {
            width: 100%;
            height: 100%;
        }

        .fa {
            color: #fff;
            margin-top: 20%;
            font-size: 200%;
        }

        .section-icon-img {
            max-width: 70%;
            max-height: 70%;
            margin-top: 10px;
        }
    }

}

@media screen and (max-width: 745px) {
    #page-title > h1 {
        font-size: 120% !important;
        margin-bottom: 5px !important;
    }

    #page-title > p.subtitle {
        margin-bottom: -25px !important;
        font-size: 70% !important;
    }
}

@media screen and (max-width: 360px){
    #page-title > h1 {
        font-size: 90% !important;
    }

    #page-title > p.subtitle {
        font-size: 50% !important;
    }

    #page-title > p.text {
        font-size: 40% !important;
    }
}
