.scrollbar {
    /** Firefox */
    scrollbar-color: #555 #343434;
    scrollbar-width: 10px;
}
.scrollbar:hover {
    scrollbar-color: #888 #343434;
}
/** Chrome */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #343434;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #555;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
}
