
.my-title h1,
.my-title h2 {
    user-select: none;
}

.my-title h1 {
    color: #bbb;
    font-size: 4.5rem;
    font-weight: bold;
    font-family: Sacramento,cursive;
}
.my-title h2 {
    margin-top: -24px;
    color: #999;
    font-size: 1rem;
    font-family: Kalam,cursive;
}
