
.my-title h1,
.my-title h2 {
    user-select: none;
}

.my-title h1 {
    color: #bbb;
    font-size: 7.5rem;
    font-weight: bold;
    font-family: Sacramento,cursive;
}
.my-title h2 {
    margin-top: -1.4em;
    color: #999;
    font-size: 2rem;
    font-family: Kalam, cursive;
}

@media (max-width: 1000px) {
    .my-title h1 {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
    }
    .my-title h2 {
        margin-top: -1.75em;
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    .my-title h1 {
        font-size: 2.5rem;
    }
}
