
.my-title h1,
.my-title h2 {
    user-select: none;
}

.my-title h1 {
    color: #bbb;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: Sacramento,cursive;
}
.my-title h2 {
    margin-top: -24px;
    color: #999;
    font-size: 1rem;
    font-family: Kalam,cursive;
}

@media (max-width: 600px) {
    .my-title h1 {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 450px) {
    .my-title h1 {
        font-size: 2.5rem;
    }
}
