// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

body,
.scrollbar {

    /** Firefox */
    scrollbar-color: #555 #343434;
    scrollbar-width: 10px;
    &:hover {
        scrollbar-color: #888 #343434;
    }

    /** Chrome */
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #343434;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

.section {
    width: 100%;
    height: 100vh;
}

.section-half {
    height: calc(55vh);
}

// Shaking
.shaking-element {
    animation-name: shake-animation;
    animation-delay: -.50s;
    animation-duration: 0.30s;
    transform-origin: 50% 20%;
}
@keyframes shake-animation {
    0% {    transform:  rotate(-1deg); animation-timing-function: ease-in; }
    50% {   transform:  rotate(1.5deg); animation-timing-function: ease-out; }
}

// Buttons
.btn {
    @apply relative rounded-full px-3 py-1 font-semibold text-sm shadow-sm text-center;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &.btn-capri {
        @apply text-white bg-capri border-2 border-capri hover:border-white;
    }

    &.btn-magenta-crayola {
        @apply text-white bg-magenta-crayola border-2 border-magenta-crayola hover:border-white;
    }

    &.btn-amethyst {
        @apply text-white bg-amethyst border-2 border-amethyst hover:border-white;
    }
}


a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-top: 2px;
}