// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

body,
.scrollbar {

    /** Firefox */
    scrollbar-color: #555 #343434;
    scrollbar-width: 10px;
    &:hover {
        scrollbar-color: #888 #343434;
    }

    /** Chrome */
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #343434;
    }
    &::-webkit-scrollbar-thumb {
        background: #555;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

.section {
    width: 100%;
    height: 100vh;
}

.section-half {
    height: calc(55vh);
}

// Button
.btn {
    @apply text-white rounded-full py-1 px-4;
}
